.banner {
	width: 100%;
	height: 80px;
	margin: 0;
	padding: 0;
}

.screenshot {
    max-width: 100%;
    border: black solid 1px;
}

.margin-top-20px {
    margin-top: 20px;
}

.margin-bottom-20px {
    margin-bottom: 20px;
}

.center-text {
	text-align: center;
}

.inline-block {
	display: inline-block;
}

.flex {
	display: flex;
}

.flip-x-y {
    transform: scaleX(-1) scaleY(-1);
}

.padding-bottom-20px {
    padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .side-margins-40px {
        margin: 0 40px
    }

    .vertical-center {
        display: flex;
        align-items: center;
    }
}

body {
    background: #062714;
}

.limit-width-540px {
    max-width: 540px
}

.limit-width-640px {
    max-width: 640px
}

.limit-width-750px {
    max-width: 750px
}

.limit-width-900px {
    max-width: 900px
}

.limit-width-980px {
    max-width: 980px
}

.spacer-column {
    display: inline-block;
    flex-grow: 1
}

.content-column {
    display: inline-block;
    flex-grow: 0
}

.flex-grow-0 {
    flex-grow: 1
}

.flex-grow-1 {
    flex-grow: 1
}

.Alegreya {
    font-family: 'Alegreya SC', sans-serif;
}

.dragons-image {
    width: 100%;
}

.image-gallery {
    margin: 0 auto;
    width: 100%;
}

.home-page .image-gallery {
    height: 400px;
}

.tools-page .image-gallery {
    height: 550px;
}

.image-gallery-slides {
    overflow: hidden;
}

.home-page .image-gallery-slides {
    height: 400px;
}

.tools-page .image-gallery-slides {
    height: 550px;
}

@media screen and (max-width: 499px) {
    .tools-page .image-gallery {
        height: 350px;
    }
    .tools-page .image-gallery-slides {
        height: 350px;
    }
}

.image-gallery-slide img {
    width: 100%;
    height: 100%;
}

.call-us-sign {
    float: right;
    background-color: #1E8142;
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    margin-left: 10px;
}
